.app-wrapper{ 
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 64px 1fr;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
.header{
  grid-column: 1/3;
}
.nav{
  grid-column: 1/2;
}
.app-wrapper > div{
  border: solid 2px var(--lightColor);
}