.container{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.ContactList {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}
.ContactList a {
    display: flex;
    gap: 12px;
    padding: 12px;
    transition: all 0.3s;
    border-radius: 8px;
}
.ContactList a:hover {
    background-color: rgba(255, 255, 255, 0.148);
}
.ContactList img{
    width: 50px;
    height: 50px;
    border-radius: 100%;

}
.ContactList h3 {
    color: var(--lightColor);
}
.chat{
    grid-column: 2/5;
    background-image: url(../../img/Message-bg-removebg.png);
    background-size: 100px;
    padding: 0px 16px;
}
.MessageItem {
    width: 80%;
    padding: 16px;
    background-color: var(--darkColor);
    border-radius: 10px;
    position: relative;
}
.MessageItem span{
    position: absolute;
    right: 8px;
    bottom: 8px;
}