.container{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    height: 100%;

}
.ContactList {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}
.ContactList a {
    display: flex;
    gap: 12px;
    padding: 12px;
    transition: all 0.3s;
    border-radius: 8px;
}
.ContactList a:hover {
    background-color: var(--bgHover);
}
.ContactList img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    pointer-events: none;

}
.ContactList h3 {
    color: var(--lightColor);
    pointer-events: none;
}
.chat{
    grid-column: 2/5;
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-right:8px ;
}

.chat__list{
    height: 100%;
    background-image: url(../../img/Message-bg-removebg.png);
    background-size: 100px;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow-y: auto;

}
.chat__list::-webkit-scrollbar {
    width: 6px;
}
.chat__list::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(194, 0, 194), rgb(0, 140, 255));
    border-radius: 10px;
}
.MessageItem {
    width: 80%;
    padding: 16px;
    border-radius: 10px;
    position: relative;
}
.chatManager{
    position: absolute;
    bottom: 0;
    width: calc(100% - 24px);
    display: flex;
    padding: 8px;
    padding-right: 24px;
    gap: 8px;
    background-color: rgba(27, 75, 152, 0.699);
    border-radius: 10px 10px 0 0;
}
.chatManager textarea {
    border-radius: 10px;
    flex-grow: 1;
    padding: 3px 6px;
    border: white solid 1px;
    background-color: rgba(27, 75, 152)
}
.chatManager button {
    padding: 8px 16px;
    border-radius: 10px;
    background-color: rgb(194, 0, 194);
}
.MessageItem span {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
