.container {
    display: flex;
    grid-column: 1/2;
    flex-direction: column;
}
.container a {
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    color: var(--lightColor);
    font-size: 1.4em;
    transition: 0.3s all;
}
.container a:hover{
    background-color: var(--bgHover);
}
