.container {
    display: flex;
    grid-column: 1/2;
    flex-direction: column;
}
.container a {
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    color: var(--lightColor);
    font-size: 1.4em;
}
.container a:hover{
    background-color: rgba(255, 255, 255, 0.148);
}